.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 20px;
    background-color: gray;
}

.top-buttons {
    display: grid;
    grid-column: 1 / span 5;
    justify-content: end;
    padding: 10px;
}

.todo, .ongoing, .for-qa, .qa-ongoing, .done {
    min-height: 50vh;
    border: 1px solid black;
}