.Main_container{

    height: 100%;
    width: 60%;
    border-radius: 20px;
    background-color: rgb(193, 247, 242);
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;*/
}
input,textarea{
    width:90%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    border-color: gray;
    padding-left: 10px;
    

}
.form_container{
    margin-top: 10px;
    padding-top: 10px;
    justify-content: center;
    /* align-items: center;
        text-align: center; */
}
label{
    font-size: 20px;
    font-weight: bold;
}
/* 
.checkbox_select{
    border-radius: 20px;
} */

.button{
    width: 125px;
    height: 30px;
    border-radius: 15px;
    background-color: aquamarine;
}