.loginpage {
    display: grid;
    grid-template-columns: 1fr 500px;
    min-height: 100vh;
}

.login-back {
    /* background-image: url('../images/login-back-3.jpg');
    background-size: cover;
    background-position: center; */
    align-self: center;
    justify-self: center;
}

.form-container {
    display: grid;

    /* Option II */
    background-color: #080b2e;
    color: aliceblue;
}

.frmLogIn {
    /* Option I */
    /* background-color: #080b2e;
    color: aliceblue; */

    /* Option II */
    background-color: #d9d9d9;
    color: black;

    border-radius: 12px;
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    align-self: center;
    justify-self: center;
    width: 312px;
    padding: 20px;
}

.username, .password {
    display: block;
    width: 286px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-self: center;
}

.username:focus, .password:focus {
    outline: none;
    border-bottom: 1px solid #f00;
}

.user-pic {
    justify-self: center;
    height: 150px;
    padding-bottom: 20px;
    border-radius: 50%;
}

.btns {
    display: grid;
    grid-template-columns: 156px 156px;
    justify-self: center;
}

.btnClear, .btnSubmit {
    width: 95px;
    background-color: #2e98b0;
    color: white;
    border: none; 
    margin: 10px;
    padding: 14px 20px;
    cursor: pointer; 
    border-radius: 8px;
    text-align: center;
    justify-self: center;
}

.errorMsg {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
    justify-self: center;
}

.errorMsg::after {
    content: '\00a0';
}

@media screen and (max-width: 600px) {
    .LoginPage {
        grid-template-columns: 1fr;
    }

    .login-back {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .frmLogIn {
        width: 90%;
    }
}