.dashboard {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
}
.dashboard .menu {
    display: grid;
    grid-template-rows: 10px 275px 1fr;
    background-color: #d9d9d9;
}
.menu .log-icon {
    display: inline;
    position: relative;
    float: right;
    top: 20px;
    left: -25px;
    scale: 1.5;
    z-index: 2;
}
.dashboard .menu .user {
    display: grid;
    align-self: center;
    justify-self: center;
    margin: 10px;
}
.user .profile-pic {
    border-radius: 50%;
    border: 1px solid black;
}
.user .username {
    margin-top: 10px;
}
.user .user-type {
    margin-top: 3px;
    margin-bottom: 3px;
}
.edit-profile {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 14px;
}
.edit-profile a {
    color: #646464;
    text-decoration: none;
}
nav .sections {
    text-decoration: none;
    margin: 5px 10px;
    padding: 15px 15px;
    border-radius: 8px;
    display: block;
    font-size: 17px;
    background-color: #afacac;
    color: black;
}
nav .sections:hover {
    border: 2px solid black;
}
nav .sections:focus {
    border: 2px solid black;
    background-color: #3c3c3c;
    color: #fff;
}