body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.customers, .projects, .users, .endusers {
    position: relative;
    top: -15px;
}

.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin: 10px 30px 0 0;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px;
    /* gutter size */
    /* background-clip: padding-box; */
}

/* Style your items */
.my-masonry-grid_column>div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
}

/* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #818181;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

.color-test {
    color: #5255c1;
    color: #6c85bb;
}